<body>
  <div class="data">
    <input type="text" ngModel name="firstName" class="form-control form-control-lg" />
    <label class="label" for="firstName">First Name</label>
  </div>
  <div class="data">
    <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
    <label class="label" for="firstName">Last Name</label>
  </div>
  <div class="data">
    <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
    <label class="label" for="firstName">Email</label>
  </div>
  <div class="data">
    <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
    <label class="label" for="firstName">Phone No</label>
  </div>
  <button class="btn" type="Add">Add</button>
  <button class="btn" type="Edit">Edit</button>
  <button class="btn" type="Delete">Delete</button>
  <div>
    <table class="table">
      <tr class="tr">
        <th>Customer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone No</th>
      </tr>
      <tr>
        
      </tr>
      <tr>
        
      </tr>
    </table>
  </div>
</body>