<body>
    <div class="data">
      <input type="text" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Product Name</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Product Type</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Description</label>
    </div>
    <button class="btn" type="Add">Add</button>
    <button class="btn" type="Edit">Edit</button>
    <button class="btn" type="Delete">Delete</button>
    <div>
      <table class="table">
        <tr class="tr">
          <th>Inventory ID</th>
          <th>Product Name</th>
          <th>Product Type</th>
          <th>Description</th>
        </tr>
        <tr>
          
        </tr>
        <tr>
          
        </tr>
      </table>
    </div>
  </body>