<body class="body">
  <div class="App">
    <nav class="navbar">
      <div class="container">
        <li><a class="navbar" routerLink="about" >SINTET INVESTMENTS</a></li>
        <ul class="navbar">
          <li class="Login"><a class="a" routerLink="/auth" >Login</a></li>
          <li class="Login"><a class="a" routerLink="/auth" >Sign-Up</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <P class="p">get that text</P>
  <form class="collect" action="data collection" (ngSubmit)="onSubmit()">
    <div>
      <input type="text">
        <label for="text"> new </label>
    </div>
    <div>
      <input type="text" ngModel name="new">
        <label for="text"> new </label>
    </div>
    <div>
      <input type="text">
        <label for="text"> new </label>
    </div>
    <div class="btn" (click)="onClick(input.value)" >
      <button class="btn" type="submit" >SUBMIT</button>
    </div>
  </form>
</body>
