<body>
  <form class="collect" #sales="ngForm" (ngSubmit)="onSubmit(sales)">
    <div class="data">
      <input type="int" ngModel name="customerID" class="form-control form-control-lg" />
      <label class="label" for="customerID">CustomerID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="productID" class="form-control form-control-lg" />
      <label class="label" for="productID">ProductID</label>
    </div>
    <div class="data">
      <input type="text" ngModel name="costSold" class="form-control form-control-lg" />
      <label class="label" for="costSold">Cost</label>
    </div>
    <div class="data">
      <input type="text" ngModel name="totalSold" class="form-control form-control-lg" />
      <label class="label" for="totalSold">Total Cost</label>
    </div>
    <button class="btn" type="Add">Add</button>
  </form>
  <div>
    <table class="table">
      <tr class="tr">
        <th>SalesID</th>
        <th>CustomerID</th>
        <th>Date Of sale</th>
        <th>ProductID</th>
        <th>Cost</th>
        <th>Total Cost</th>
        <th>Action</th>
      </tr>
      <tr class="tr">
        <td>1</td>
        <td>1</td>
        <td>1-2-2022</td>
        <td>1</td>
        <td>200,000.00</td>
        <td>200,000.00</td>
        <td><button class="btn" type="Edit">Edit</button><button class="btn" type="Delete">Delete</button></td>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>
</body>