<body>
  <form class="collect" #suppliers="ngForm" (ngSubmit)="onSubmit(suppliers)">
    <div class="data">
      <input type="text" ngModel name="supplierName" class="form-control form-control-lg" />
      <label class="label" for="supplierName">Suppliers Name</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="productID" class="form-control form-control-lg" />
      <label class="label" for="productID">ProductID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="email" class="form-control form-control-lg" />
      <label class="label" for="email">Email</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="phoneNo" class="form-control form-control-lg" />
      <label class="label" for="phoneNo">Phone No</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="address" class="form-control form-control-lg" />
      <label class="label" for="address">Address</label>
    </div>
    <button class="btn" type="Add">Add</button>
  </form>
  <div>
    <table class="table">
      <tr class="tr">
        <th>Suppliers ID</th>
        <th>Suppliers Name</th>
        <th>Product ID</th>
        <th>Email</th>
        <th>Phone No</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
      <tr class="tr">
        <td>1</td>
        <td>Adenkule</td>
        <td>1</td>
        <td>younow@gmail.com</td>
        <td>1234567890</td>
        <td>juja</td>
        <td><button class="btn" type="Edit">Edit</button><button class="btn" type="Delete">Delete</button></td>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>
</body>