<body>
    <div class="data">
      <input type="text" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Supplier ID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">ProductID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Cost</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Total Cost</label>
    </div>
    <button class="btn" type="Add">Add</button>
    <button class="btn" type="Edit">Edit</button>
    <button class="btn" type="Delete">Delete</button>
    <div>
      <table class="table">
        <tr class="tr">
          <th>Purchase ID</th>
          <th>Supplier ID</th>
          <th>ProductID</th>
          <th>Cost</th>
          <th>Total Cost</th>
          <th>Date Of Purchase</th>
        </tr>
        <tr>
          
        </tr>
        <tr>
          
        </tr>
      </table>
    </div>
  </body>