<body>
    <div class="data">
      <input type="text" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">User ID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">CustomerID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">sales ID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">sales ID</label>
    </div>
    <button class="btn" type="Add">Add</button>
    <button class="btn" type="Edit">Edit</button>
    <button class="btn" type="Delete">Delete</button>
    <div>
      <table class="table">
        <tr class="tr">
          <th>Transactions ID</th>
          <th>User ID</th>
          <th>CustomerID</th>
          <th>Date Of Transaction</th>
          <th>sales ID</th>
          <th>Amount Transacted</th>
        </tr>
        <tr>
          
        </tr>
        <tr>
          
        </tr>
      </table>
    </div>
  </body>
  