<body>
    <div class="data">
      <input type="text" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">User ID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Customer ID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Date Of Transaction</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Sales ID</label>
    </div>
    <div class="data">
      <input type="int" ngModel name="firstName" class="form-control form-control-lg" />
      <label class="label" for="firstName">Amount of Transaction</label>
    </div>
    <button class="btn" type="Add">Add</button>
    <button class="btn" type="Edit">Edit</button>
    <button class="btn" type="Delete">Delete</button>
    <div>
      <table class="table">
        <tr class="tr">
          <th>Transaction ID</th>
          <th>Customer ID</th>
          <th>ProductID</th>
          <th>Date Of Transaction</th>
          <th>Sales ID</th>
          <th>Amount of Transaction</th>
        </tr>
        <tr>
          
        </tr>
        <tr>
          
        </tr>
      </table>
    </div>
  </body>